@model FirstBackEndProj.Models.Product
@{
    ViewBag.Title = "Add Product";
}


<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            Create Product
        </div>
        <div class="card-body card-block">
            <form action="@Url.Action("Create", "Product")" method="post" class="form-horizontal" id="create-product-form" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="row form-group">
                    <div class="col col-md-3">
                        @Html.LabelFor(m => m.Name, new { @class = "form-control-label" })
                    </div>
                    <div class="col-12 col-md-9">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        @Html.LabelFor(m => m.Description, new { @class = "form-control-label" })
                    </div>
                    <div class="col-12 col-md-9">
                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        @Html.LabelFor(m => m.Price, new { @class = "form-control-label" })
                    </div>
                    <div class="col-12 col-md-9">
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Price, null, new { @class = "text-danger" })

                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        @Html.LabelFor(m => m.Discount, new { @class = "form-control-label" })
                    </div>
                    <div class="col-12 col-md-9">
                        @Html.TextBoxFor(m => m.Discount, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Discount, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        @Html.LabelFor(m => m.ProductPhotos, new { @class = "form-control-label" })
                    </div>
                    <div class="col-12 col-md-9">
                        @Html.TextBoxFor(m => m.ProductPhotos, new { @class = "form-control", type="file", multiple="multiple" })
                        @Html.ValidationMessageFor(m => m.ProductPhotos, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="BrandId" class=" form-control-label">Select Brand</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select name="BrandId" id="BrandId" class="form-control-sm form-control">
                            <option value="0"></option>

                            @foreach (var item in ViewBag.Brands as List<FirstBackEndProj.Models.Brand>)
                            {
                                <option value="@item.Id">@item.Name</option>

                            }

                        </select>
                    </div>
                </div>
                <div class="row form-group categories-select">
                    <input type="hidden" name="CategoryId" , value="" />
                    <div class="col col-md-3">
                        <label for="CategoryId" class=" form-control-label">Select Category</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <select id="CategoryId" class="form-control-sm form-control CategoryId">
                            <option value="0"></option>

                            @foreach (var item in ViewBag.Categories as List<FirstBackEndProj.Models.Category>)
                            {
                                <option value="@item.Id">@item.Name</option>

                            }

                        </select>
                    </div>
                </div>
                <br> <br>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary" btn-sm>
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $(document).on('change', '.CategoryId', function () {
            console.log($(this).val());
            var parentId = $(this).val();
            if (parentId != 0) {

                $.ajax({
                    url: "@Url.Action("GetChildren", "Category")",
                    data: {
                        Id: parentId
                    },
                    success: function (res) {
                        if (res.Success == true) {
                            console.log(res);
                            var children = JSON.parse(res.Data);
                            if (children.length == 0) {
                                $("input[name=CategoryId]").val(parentId);
                            }
                            else {
                                var selectElem = $("<select></select>");
                                selectElem.addClass("form-control-sm form-control CategoryId");

                                var optionElem = $("<option></option>");
                                optionElem.attr("value", 0);
                                selectElem.append(optionElem);
                                var selects = $(".categories-select");
                                for (var i = 0; i < children.length; i++) {
                                    var optionElem = $("<option></option>");
                                    optionElem.attr("value", children[i].Id);
                                    optionElem.text(children[i].Name);
                                    selectElem.append(optionElem);
                                    var div = $("<div></div>").addClass("col-12 col-md-9");
                                    div.append(selectElem);
                                    selects.append(div);
                                }
                            }
                        }
                        console.log(res);
                    },
                    error: function () {

                    },

                });
            }
        });
    });

</script>
