@model List<FirstBackEndProj.Models.Product>
@{
    ViewBag.Title = "Products";
}

<div class="col-md-12">
    <h3 class="title-5 m-b-35">Product</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-right">
            <a href="@Url.Action("Create", "Product")" class="au-btn au-btn-icon au-btn--green au-btn--small">
                <i class="zmdi zmdi-plus"></i>Add Product
            </a>
        </div>
    </div>
    <div class="table-responsive table-responsive-data2">

        @if (Model.Count == 0)
        {
            <div class="alert alert-primary" role="alert">
                No any Product!
            </div>
        }

        else
        {
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Brand</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var product in Model)
                    {
                    <tr class="tr-shadow">
                        <td><img src="~/Uploads/Products/@product.ProductPhotos[0].Name" alt="@product.Name" /></td>
                        <td>@product.Name</td>
                        <td>@product.Category.Name</td>
                        <td>@product.Price.ToString("#.00") EUR</td>
                        <td>@product.Brand.Name</td>
                        <td>
                            <div class="table-data-feature">
                                <a href="@Url.Action("Edit", "Product", new {Id=product.Id })" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                    <i class="zmdi zmdi-edit"></i>
                                </a>
                                <a href="@Url.Action("Delete", "Product", new {Id=product.Id })" class="item delete-product" data-toggle="tooltip" data-placement="top" data-id=" @product.Id" title="Delete">
                                    <i class="zmdi zmdi-delete"></i>
                                </a>

                            </div>
                        </td>
                    </tr>
                        <tr class="spacer"></tr>
                    }
                </tbody>
            </table>
        }

    </div>
    <!-- END DATA TABLE -->
</div>

<script>

    $(document).ready(function () {
        $('a.delete-product').confirm({
            title: "Delete Product",
            content: "Are you sure to delete Product?",
            buttons: {
                heyThere: {
                    text: 'Yes',
                    btnClass: 'btn-danger',
                    action: function (heyThereButton) {
                        var brandId = $(this).data("id");

                        location.href = this.$target.attr('href')

                    }
                },
                no: {
                    text: 'No',
                    btnClass: 'btn-success',
                    action: function (no) {
                    }
                },
            }
        });
    });

</script>

