@model List<FirstBackEndProj.Models.Brand>
@{
    ViewBag.Title = "Brands";
}

<div class="col-md-12">
    <h3 class="title-5 m-b-35">Groups</h3>
    <div class="table-data__tool">
        <div class="table-data__tool-right">
            <a href="@Url.Action("Create", "Brand")" class="au-btn au-btn-icon au-btn--green au-btn--small">
                <i class="zmdi zmdi-plus"></i>Add Brand
            </a>
        </div>
    </div>
    <div class="table-responsive table-responsive-data2">

        @if (Model.Count == 0)
        {
            <div class="alert alert-primary" role="alert">
                No any Brand!
            </div>
        }

        else
        {
            <table class="table table-data2">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var brand in Model)
                    {
                        <tr class="tr-shadow">
                            <td>@brand.Name</td>
                            <td>
                                <div class="table-data-feature">
                                    <a href="@Url.Action("Edit", "Brand", new {Id=brand.Id })" class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                        <i class="zmdi zmdi-edit"></i>
                                    </a>
                                    @if (brand.Products==null || brand.Products.Count == 0)
                                    {
                                        <a href="@Url.Action("Delete", "Brand", new {Id=brand.Id })" class="item delete-brand" data-toggle="tooltip" data-placement="top" data-id=" @brand.Id" title="Delete">
                                            <i class="zmdi zmdi-delete"></i>
                                        </a>
                                    }
                                </div>
                            </td>
                        </tr>
                        <tr class="spacer"></tr>

                    }
                </tbody>
            </table>
        }

    </div>
    <!-- END DATA TABLE -->
</div>

<script>

    $(document).ready(function () {
        $('a.delete-brand').confirm({
            title: "Delete Brand",
            content: "Are you sure to delete Brand?",
            buttons: {
                heyThere: {
                    text: 'Yes',
                    btnClass: 'btn-danger',
                    action: function (heyThereButton) {
                        var brandId = $(this).data("id");
                   
                        location.href = this.$target.attr('href')

                    }
                },
                no: {
                    text: 'No',
                    btnClass: 'btn-success',
                    action: function (no) {
                    }
                },
            }
        });
    });

</script>

